@keyframes appear-from-left {
    from {
        opacity: 0;
        transform: translateX(-10vw);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes appear-from-right {
    from {
        opacity: 0;
        transform: translateX(10vw);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes appear-from-top {
    from {
        opacity: 0;
        transform: translateY(-20vh);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appear-from-bottom {
    from {
        opacity: 0;
        transform: translateY(10vh);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}